#board
{
  width:270px; height: 350px;
  margin: 20px auto auto 15px;
// box-shadow: 1px 1px 15px #CCE5FF;

}

div.left
{
float: left;
width:5px;
height:45px;
margin:0px;
border:1px solid skyblue;
background: white;
box-shadow: 2px 2px 50px #1c1c1c;
-webkit-transition: -webkit-transform 1s;
-ms-transition: -ms-transform 1s;
-moz-transition: -moz-transform 1s;
-transition: -transform 1s;

}

div.top
{
float: left;
width:45px;
height:5px;
margin:3px;
border:1px solid skyblue;
background: white;
box-shadow: 5px 5px 50px #1c1c1c;
-webkit-transition: -webkit-transform 1s;
-ms-transition: -ms-transform 1s;
-moz-transition: -moz-transform 1s;
-transition: -transform 1s;

}


div.middle
{
float: left;
width: 44px;
height:44px;
margin-top: 2px;
font-size: 30px;
line-height: 40px;
text-align:center;

}


#leftcell00{
clear:both;
float:left;
}

#topcell10{
clear:both;
float:left;
}

#leftcell10{
clear:both;
float:left;
}

#topcell20{
clear:both;
float:left;
}
#leftcell20{
clear:both;
float:left;
}

#topcell30{
clear:both;
float:left;
}

#leftcell30{
clear:both;
float:left;
}

#topcell40{
clear:both;
float:left;
}

#leftcell40{
clear:both;
float:left;
}

#topcell50{
clear:both;
float:left;
}
#leftcell50{
clear:both;
float:left;
}

#topcell60{
clear:both;
float:left;
}


div.left:hover
{
height:46px;
}
div.top:hover
{
width:46px;
}


/*
div.middle:hover
{
width:46px;
height:46px;
}
*/

    
